{% extends 'feed/layout.html' %}


{% block content %}
    <div class="features">

        {% for el in news %}
            <div class="alert alert-warning">
                <h3>{{ el.title }}</h3>
                <p>{{ el.anons }}</p>
                <a href="{% url 'news_detail' el.id %}" class="btn btn-warning">Read detail</a>
            </div>

        {% endfor %}
        {% for el in order_news %}
            <a href="{% url 'news_detail' el.id %}" class="btn btn-warning">{{ el.id }}</a>
        {% endfor %}
    </div>




{% endblock %}