{% extends 'feed/layout.html' %}


{% block contend %}
    <div>
        <div>Form for add anons</div>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}
            {{ form.anons }}
            {{ form.full_text }}
            {{ form.date }}
            <input type="text" placeholder="Title of article" class="form-control"><br>
            <input type="text" placeholder="Anons" class="form-control"><br>
            <textarea class="form-control" placeholder="Text of article"></textarea><br>
            <input  type="date" class="form-control"><br>
            <input  type="time" class="form-control"><br>
            <button class="btn btn-success" type="submit">Add article</button>
        </form>

    </div>




{% endblock %}